.Navbar{
    display:flex;
    flex-direction: row;
    background-color: rgb(233, 233, 233);
    border: rgb(58, 58, 58) solid 1px;
}

#link{
    margin:10px 15px;
    color: rgb(58, 58, 58);
    text-decoration: none;
}

#link:visited{
    color:rgb(65, 65, 65);
}

#link:active{
    color:rgb(134, 112, 103);
}
