.App {
  text-align: center;
  background-color: #ffffff;
  color: rgb(12, 9, 9);
  width: 50vh;
  height: 100%;
  margin: 2vh auto 0 auto;
  box-shadow: 0px 40px  30px rgba(12, 9, 9, 0.302)
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.Text-Container{
  width: 96%;
  text-align: left;
  margin-left: 10px;
}

.check-box{
  margin: 10px auto
}

#thick-line{
  border-width: 1px;
  border-style: solid;
  opacity: 70%;
}

#title{
  color: lightslategrey;
  font-weight:normal;
  opacity: 80%;
}
