.AppContainer{
    text-align: center;
}

/* table{
    width: 90%;
    margin: 5vh auto;
}

thead{
    background-color: #00bfffff;
}
table{
    line-height: 2rem;
    border:1px solid black;
    border-collapse:collapse;
}

tr:nth-child(even){
    background-color: rgb(142, 223, 250);
} */

.form-container{
    border:1px solid gray;
    width: 80%;
    margin:0 auto;
    text-align: left;
    display:flex;
    flex-direction: column;
}

.form-item{
    margin: 10px;
    width: 100%;
}

input{
   float: right;
   margin-right: 100px;
   width: 30%;
}
button{
    align-self: center;
    margin:10px auto;
    width: 20%;
}

.inner-button{
    margin: 1rem;
    width: 80px;
    height: 40px;
    font-size: 0.8rem;

}


